
html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: sans-serif
}

#header {
  display: flex;
  justify-content: space-between;
}

#header-img {
  object-fit: scale-down;
  width: 60px;
  height: 60px;
  /*border-radius: 50%
  object-position: */
}

#nav-bar {
  display: flex;
  align-items: flex-end;
  
  position: fixed;
  top: 0;
  float: right;
  width: 30%;
  margin-left:  500px;
  
}

.nav-link {
  margin: auto 20px;
  text-decoration: none;
  
}

h1 {
  text-align: center;
  color: navy;
}
main {
  width: 70%;
  margin: auto;
   
}

#form {
  margin: 10px auto
}

#form input {
  display: block;
  margin: 10px auto;
}

#email {
  height: 30px;
  width: 200px
}

#submit {
  height: 30px;
  width: 100px;
  background-color: navy;
  color: white;
  font-size: 16px;
}

h3 {
  color: navy;

}

#video {
  margin: 10px 240px;
  
}

.shoe-images {
  
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

@media (max-width: 700px) {
  .shoe-images{
  display: flex;
  flex-wrap: wrap;
  }
}

.shoe-images img {
  margin: 21px
}

.shoe-images p {
margin-left: 25px
}

footer {
  background-color: navy;
  text-align: center;
  color: white
}


#select {
  margin: auto 120px ;
  height: 30px;
  width: 100px;
  background-color: navy;
  color: white;
}
